<nav class="navbar">
    <ul>
        <a href="/">
            Home
        </a>
        <a href="/lalv22/calendar">
            Calendar
        </a>
        <a href="/lalv22/events">
            Planned Events
        </a>
        <a href="/error">
            Click Me
        </a>
    </ul>
    
</nav>