<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/404.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Turret+Road:wght@500&display=swap" rel="stylesheet"> 
    <title>Error: Page Not Found</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <a href="/">
                Home
            </a>
            <a href="/lalv22/calendar">
                Calendar
            </a>
            <a href="/lalv22/map">
                Map
            </a>
            <a href="/error">
                Click Me
            </a>
        </ul>
        
    </nav>  
    
    <div class="sirens">
        <span>Page</span>
        <span>Error</span>
    </div>
    <div id="renato">
        <div class="image">
            <img src="/assets/images/renato-cop.png">
        </div>
        <div class="bubble">
            <h1>You're under arrest babe, you went to the wrong page &#128520;</h1>
        </div>
        
        
    </div>
    

</body>
</html>