<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/assets/scripts/countdown.js"></script>
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <a href="/">
                Home
            </a>
            <a href="/event/calendar">
                Calendar
            </a>
            <a href="#">
                flights
            </a>
            <a href="#">
                hotels
            </a>
        </ul>
        
    </nav>  
    <div class="main">
        <div class="countdown-container">
            <h1 id="countdown-title">Time until our trip:</h1>
            <h1 id="days"></h1>
            <h1 id="hours"></h1>
            <h1 id="minutes"></h1>
            <h1 id="seconds"></h1>
        </div>
    </div>
</body>
</html>