:root {
    --jet: #39393A;
    --skyblue: #86BBD8;
    --etonblue: #8BBF9F;
    --vegasgold: #D6BA73;
    --wheat: #F5E0B7;
    font-family: 'Assistant', sans-serif;
    color: var(--vegasgold);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
}

body {
    background-color: var(--jet);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.navbar {
    display: flex;
    flex-direction:row;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--skyblue);
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    display: block;
    color: var(--jet);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 100px 0px 100px;
    font-size: 1.5rem;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 35%;
    height: 100%;
    background-color: #5f5f5f;
    border-radius: 15px;
    margin: 50px;
    padding: 30px;
}

.main h1 {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1rem;
    font-weight: 500;
}


#input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#add_form {
    width: 75%;
}

#name_input, #day_input, #time_input, #location_input, #notes_input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

#going_input {
    display: grid;
    grid-template-columns: 2;
    padding-bottom: 10px;
}

#going_label {
    grid-column: 1;
    grid-row: 1;
    padding-bottom: 10px;
}

#names_1 {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 4;
    grid-column: 1;
    grid-row: 2;
}

#names_2 {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 4;
    grid-column: 2;
    grid-row: 2;
}

#lesly, #monica, #sylvia, #renato {
    grid-column-start: 4;
    grid-column-end: 4;
}

#chris, #james, #josh, #all {
    grid-column-start: 2;
    grid-column-end: 2;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#submit, #cancel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--jet);
    height: inherit;
    width: 25%;
    border-radius: 15px;
    background-color: var(--skyblue);
    border: none;
    cursor: pointer;
}

#cancel:link {
    color: var(--jet);
    text-decoration: none;
}

#cancel:visited {
    color: var(--jet);
    text-decoration: none;
}


button {
    background-color: var(--skyblue);
    height: inherit;
    width: 100%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--jet);
}

#cancel:hover, button:hover {
    background-color: #3a93c4;
    color: var(--vegasgold);
}

