:root {
    --jet: #39393A;
    --skyblue: #86BBD8;
    --etonblue: #8BBF9F;
    --vegasgold: #D6BA73;
    --wheat: #F5E0B7;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
}

body {
    background-color: var(--jet);
}

.navbar {
    display: flex;
    flex-direction:row;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--skyblue);
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    display: block;
    color: var(--jet);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 100px 0px 100px;
    font-size: 1.5rem;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--jet);
}

.title {
    margin: 50px;
    display: flex;
    flex-direction: column;
    color: var(--vegasgold);
}

#add_event{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--skyblue);
    border-radius: 15px;
    height: 50px;
    margin-top: 20px;
}


a:visited, a:link{
    color: var(--jet);
    text-decoration: none;
}

a:hover {
    color: var(--vegasgold);
    text-shadow: #39393A;
}

#calendar {
    width: 60%;
    /* border-style: solid; */
}

#calendar-header {
    display: grid ;
    grid-template-columns: repeat(7, 1fr);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: var(--etonblue);
}

#calendar-header .name {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
}

#calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: var(--wheat);
    border-style: solid;
    border-width: 1px;
}

.day {
    display: grid;
    grid-template-rows: repeat(5, 1fr); /* this probably needs to be changed to allow event details*/
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.eventname#1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.eventname#2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

.eventname#3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

.daynumber {
    grid-column: 1;
    grid-row: 1;
    grid-column-end: 1;
    grid-row-end: 1;
}

.empty {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    background-color: #d3d3d3;
}

.day:hover {
    background-color: var(--vegasgold);
}