:root {
    --jet: #39393A;
    --skyblue: #86BBD8;
    --etonblue: #8BBF9F;
    --vegasgold: #D6BA73;
    --wheat: #F5E0B7;
    font-family: 'Assistant', sans-serif;
    color: var(--vegasgold);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
}

body {
    background-color: var(--jet);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    overflow-y: scroll;
}

.navbar {
    display: flex;
    flex-direction:row;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--skyblue);
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    display: block;
    color: var(--jet);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 100px 0px 100px;
    font-size: 1.5rem;
    font-weight: bold;
}

a:visited, a:link{
    color: var(--jet);
    text-decoration: none;
}

a:hover {
    color: var(--vegasgold);
    text-shadow: #39393A;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    width: 100%;
    justify-items: center;
    padding-top: 20px;
}

.event:nth-child(odd) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    max-height: 220px;
    color: var(--jet);
    background-color: var(--wheat);
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    grid-column: 1;
}

.event:nth-child(even) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    max-height: 220px;
    color: var(--jet);
    background-color: var(--wheat);
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    grid-column: 2;
}

#name {
    font-size: 2.5rem;
    grid-row: 1;
    grid-column: 1;
    padding: 10px;
}

#day {
    font-size: 1.1rem;
    padding: 10px;
}

#time {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    font-size: 1.7rem;
    grid-row: 1;
    grid-column: 2;
    padding: 10px;
}

#location {
    font-size: 1.2rem;
    grid-row: 2;
    grid-column: 1;
    align-items: center;
    padding-left: 10px;
}

.going_list {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 2; 
    grid-template-rows: 4;
    padding: 10px;
}

.going_list1 {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 2; 
    grid-template-rows: 4;
}

.going_list2 {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2; 
    grid-template-rows: 4;
}

.notes {
    grid-row: 3;
    grid-column: 2;
    align-items: center;
    padding-left: 10px;
}