:root {
    --jet: #39393A;
    --skyblue: #86BBD8;
    --etonblue: #8BBF9F;
    --vegasgold: #D6BA73;
    --wheat: #F5E0B7;
    font-family: 'Assistant', sans-serif;
    color: var(--vegasgold);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--jet);
}

.navbar {
    display: flex;
    flex-direction:row;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--skyblue);
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    display: block;
    color: var(--jet);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 100px 0px 100px;
    font-size: 1.5rem;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--jet);
}

a:visited, a:link{
    color: var(--jet);
    text-decoration: none;
}

a:hover {
    color: var(--vegasgold);
    text-shadow: #39393A;
}

.countdown-container {
    width: 50%;
    height: 50%;
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-style: solid;
    font-size: 2rem;
    margin: 20px;
}

#countdown-title {
    font-size: 4rem;
    margin: 2rem;
}

/* #days, #hours, #minutes, #seconds {
    font-size: 2rem;
    margin: 20px;
} */

iframe {
    --glow-color: #63875b;
    --glow-spread-color: #94b185;
    --enhanced-glow-color: #3e7032;
    --btn-color: #63875b;
    border: .25em solid var(--glow-color);
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    width: 500px;
    height: 300px;
    padding: 1px;
   }
   
   iframe::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   iframe:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   iframe:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

#map {
    margin: 1% auto;
    width: 700px;
    height: 800px;
    border-style: solid;

    background: url(/assets/images/LosSantosMap.jpg);
    background-position: center;
    background-size: cover;
}