:root {
    --jet: #39393A;
    --skyblue: #86BBD8;
    --etonblue: #8BBF9F;
    --vegasgold: #D6BA73;
    --wheat: #F5E0B7;
    font-family: 'Assistant', sans-serif;
    color: var(--vegasgold);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
}

body {
    background-color: var(--jet);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.navbar {
    display: flex;
    flex-direction:row;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--skyblue);
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    display: block;
    color: var(--jet);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 100px 0px 100px;
    font-size: 1.5rem;
    font-weight: bold;
}

a:visited, a:link{
    color: var(--jet);
    text-decoration: none;
}

a:hover {
    color: var(--vegasgold);
    text-shadow: #39393A;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 75vw;
    height: 75vh;
    background-color: #5f5f5f;
    border-radius: 15px;
    margin: 50px;
    padding: 30px;
}

#map {
    height: 100%;
    width: 100%;
}